<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-black h-screen overflow-hidden">
      <main class="flex">
        <!-- Sidebar -->
        <%= render "components/sidebar" %>
        <!-- center -->
        <%= yield %>
      </main>
      <!-- Player -->
    </div>
  </body>
</html>
